html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main_container {
  position: relative;
  min-height: 100%;
}


/* BACKGROUND */

.bg_image {
  height: 100vh;
  background-image: url('../images/background_image.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.bg_color {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  overflow: auto;
}


/* HEADER */

header {
  overflow: hidden;
}

.logo {
  float: left;
  margin-top: 42.3px;
  margin-left: 140.7px;
}

.menu {
  float: right;
  margin-top: 54.2px;
  margin-right: 140px;
}

nav {
  float: left;
  overflow: hidden;
  text-align: center;
}

ul li {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  float: left;
  margin-right: 32.75px;
  padding-left: 5px;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  font-weight: 700;
}

.sign_up {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 120px;
  height: 45px;
  margin-top: -22.5px;
  transition: 1s;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.sign_up:hover {
  border-color: #c44545;
}

.hamburger {
  float: right;
  display: none;
  margin-left: 20px;
}

.hamburger_line_top {
  border-top: 2px solid #ffffff;
  width: 34px;
}

.hamburger_line_bottom, .hamburger_line_middle {
  border-bottom: 2px solid #ffffff;
  margin-top: 8px;
  width: 34px;
}


/*SLIDING BOTTOM BAR */

.sliding_bottom_bar {
  position: relative;
  background-color: transparent;
  padding-bottom: 35px;
  overflow: hidden;
  height: 0;
}

.sliding_bottom_bar li.back {
  border-bottom: 2px solid #c44545;
  height: 32px;
  z-index: 8;
  position: absolute;
}

.sliding_bottom_bar li a {
  z-index: 10;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}


/* MAIN */

h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  width: 849px;
  max-width: 100vw;
  margin-top: 83.9px;
}

h1 span {
  font-weight: 400;
  color: #c44545;
}

.play_button {
  background-color: transparent;
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 49.6px;
  margin-bottom: 66.4px;
  width: 100%;
}

.description_container {
  padding-bottom: 109.5px;
}

.description {
  max-width: 100vw;
  width: 659px;
  padding-bottom: 91.9px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  line-height: 22px;
}


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.find_out_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  width: 112px;
}

.find_out_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 42px;
  padding-top: 16.6px;
}


/*MEDIA QUERIES*/
/*height*/
@media (max-height: 629px) {
  h1 {
    margin-top: 10.12vh;
    font-size: 36px;
  }
  .play_button {
    margin-top: 7.06vh;
    margin-bottom: 7.33vh;
  }
  .play_image { /*zmniejszac?*/
    height: 15.89vh;
    width: 15.89vh;
  }
  .description_container {
    padding-bottom: 14.15vh;
  }
  .description {
    font-size: 14px;
    padding-bottom: 8.39vh;
  }
  p span {
    display: none;
  }
  .find_out_image {
    padding-bottom: 3.33vh;
  }
  footer {
    height: auto;
  }
}
@media (height: 629px) {
  h1 {
    margin-top: 63.7px;
    font-size: 36px;
  }
  .play_button {
    margin-top: 45.6px;
    margin-bottom: 49.3px;
  }
  .play_image {
    height: 100px;
    width: 100px;
  }
  .description_container {
    padding-bottom: 89px;
  }
  .description {
    padding-bottom: 52.8px;
  }
  p span {
    display: none;
  }
  .find_out_image {
    padding-bottom: 21px;
  }
  footer {
    height: auto;
  }
}
@media (min-height: 629px) and (max-height: 700px) {
  h1 {
    margin-top: 10.81vh;
    font-size: 36px;
  }
  .play_button {
    margin-top: 7.06vh;
    margin-bottom: 7.33vh;
  }
  .play_image {
    height: 100px;
    width: 100px;
  }
  .description_container {
    padding-bottom: 12.71vh;
  }
  .description {
    padding-bottom: 8.61vh;
  }
  p span {
    display: none;
  }
  .find_out_image {
    padding-bottom: 3vh;
  }
  footer {
    height: auto;
  }
}
@media (height: 700px) {
  h1 {
    margin-top: 75.7px;
    font-size: 36px;
  }
  .play_button {
    margin-top: 49.4px;
    margin-bottom: 51.3px;
  }
  .play_image {
    height: 100px;
    width: 100px;
  }
  .description_container {
    padding-bottom: 89px;
  }
  .description {
    padding-bottom: 60.3px;
  }
  p span {
    display: none;
  }
  .find_out_image {
    padding-bottom: 21px;
  }
  footer {
    height: auto;
  }
}
@media (min-height: 700px)(max-height: 800px) {
  h1 {
    margin-top: 10.12vh;
  }
  .play_button {
    margin-top: 7.06vh;
    margin-bottom: 7.33vh;
  }
  .play_image { /*zmniejszac?*/
    height: 15.89vh;
    width: 15.89vh;
  }
  .description_container {
    padding-bottom: 14.15vh;
  }
  .description {
    padding-bottom: 8.39vh;
  }
  .find_out_image {
    padding-bottom: 3.33vh;
  }
  footer {
    height: auto;
  }
  p span {
    display: none;
  }
}
@media (height: 800px) {
  h1 {
    margin-top: 83.9px;
  }
  .play_button {
    margin-top: 49.6px;
    margin-bottom: 66.4px;
  }
  .play_image {
    height: 120px;
    width: 120px;
  }
  .description_container {
    padding-bottom: 109.5px;
  }
  .description {
    padding-bottom: 91.9px;
  }
  .find_out_image {
    padding-bottom: 42px;
  }
  footer {
    height: auto;
  }
}
