/* BACKGROUND */

.bg_image {
  height: 100vh;
  background-image: url('../images/background_image.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.bg_color {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  overflow: auto;
}


/* HEADER */

header {
  overflow: hidden;
}

.logo {
  float: left;
  margin-top: 42.3px;
}

.menu {
  float: right;
  margin-top: 54.2px;
}

nav {
  float: left;
  overflow: hidden;
  text-align: center;
}

ul li {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  float: left;
  margin-right: 32.75px;
  padding-left: 5px;
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  font-weight: 700;
}

.sign_up {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 120px;
  height: 45px;
  margin-top: -22.5px;
  transition: 1s;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.sign_up:hover {
  border-color: #c44545;
}


/*SLIDING BOTTOM BAR */

.sliding_bottom_bar {
  position: relative;
  background-color: transparent;
  padding-bottom: 35px;
  overflow: hidden;
  height: 0;
}

.sliding_bottom_bar li.back {
  border-bottom: 2px solid #c44545;
  height: 32px;
  z-index: 8;
  position: absolute;
}

.sliding_bottom_bar li a {
  z-index: 10;
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
}


/* MAIN */

h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  width: 849px;
  max-width: 100vw;
  height: 129px;
  padding-top: 80px;
}

span {
  font-size: 50px;
  font-weight: 400;
  color: #c44545;
}


/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.find_out_text {
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #ffffff;
  width: 112px;
  height: 20px;
}

.find_out_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 42px;
  padding-top: 16px;
}
